.git
.github
.circleci
.husky

node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
logs
**/logs

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

*.log
*.tsbuildinfo
.DS_Store

docs
helms
images
mysql-init-scripts
**/__tests__
**/*.test.ts
**/*.test.tsx

docker-compose*.yml
docker-compose*.yaml
README.md
**/README.md
